[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "hexadruid"
version = "0.1.8"
description = "Smart Spark Optimizer: Skew Rebalancer + Key Detector + DRTree"
readme = "README.md"
license = { text = "MIT" }
authors = [
  { name = "Omar Attia", email = "omar123915@hotmail.com" }
]
requires-python = ">=3.8"
dependencies = [
  "pyspark>=3.5.1",
  "pandas",
  "matplotlib",
  "seaborn"
]

classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Intended Audience :: Developers",
  "Topic :: Software Development :: Libraries",
  "Framework :: PySpark"
]

[project.urls]
Homepage = "https://github.com/OmarAttia95/hexadruid"
Documentation = "https://github.com/OmarAttia95/hexadruid#readme"
Source = "https://github.com/OmarAttia95/hexadruid"
Issues = "https://github.com/OmarAttia95/hexadruid/issues"
